{% extends 'layouts/base.html' %}
{% block content %}
<style>
    .form-check-inline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .form-check-label {
        margin-right: 10px; /* Adds space between radio buttons */
    }
</style>

<div class="container">
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4">Peer Evaluation Form</h2>
                            <p>Please complete this form to evaluate your peer's performance in the group project. Your honest feedback will help improve future teamwork.</p>
                            <form method="POST" action="/submitPeerEvaluation">
                                <div class="mb-3"></div>
                                <div class="mb-3"><select name="evaluated" class="form-select">
                                        <optgroup label="Select Student Name">
                                            <option value="1" selected="">Alice Miller</option>
                                            <option value="2">Bob Kim</option>
                                            <option value="3">Charlie Linares</option>
                                            <option value="4">David Lee</option>
                                            <option value="5">Emma Stein</option>
                                        </optgroup>
                                    </select></div>
                                <div class="mb-3"><select name="evaluator" class="form-select">
                                        <optgroup label="Select Your Name">
                                            <option value="1" selected="">Alice Miller</option>
                                            <option value="2">Bob Kim</option>
                                            <option value="3">Charlie Linares</option>
                                            <option value="4">David Lee</option>
                                            <option value="5">Emma Stein</option>
                                        </optgroup>
                                    </select></div>
                                <div class="mb-3"><input name="date" class="form-control" type="date"></div>
                                <div class="mb-3">
                                    <h1 style="font-size: 22.88px;">Perfomrance Evaluation</h1>
                                    <p>Rate your peer on a scale of 1 to 5 for each of the following criteria (1 = poor, 5 = excellent)</p>
                                    <div class="form-check form-check-inline">
                                        <small>Time Management</small>
                                        <div class="radio-container">
                                            <small class="form-check-label"><input type="radio" name="timeManagement" value="1">1</small>
                                            <small class="form-check-label"><input type="radio" name="timeManagement" value="2">2</small>
                                            <small class="form-check-label"><input type="radio" name="timeManagement" value="3">3</small>
                                            <small class="form-check-label"><input type="radio" name="timeManagement" value="4">4</small>
                                            <small class="form-check-label"><input type="radio" name="timeManagement" value="5">5</small>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <small>Leadership</small>
                                        <div class="radio-container">
                                            <small class="form-check-label"><input type="radio" name="leadership" value="1">1</small>
                                            <small class="form-check-label"><input type="radio" name="leadership" value="2">2</small>
                                            <small class="form-check-label"><input type="radio" name="leadership" value="3">3</small>
                                            <small class="form-check-label"><input type="radio" name="leadership" value="4">4</small>
                                            <small class="form-check-label"><input type="radio" name="leadership" value="5">5</small>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <small>Communication</small>
                                        <div class="radio-container">
                                            <small class="form-check-label"><input type="radio" name="communication" value="1">1</small>
                                            <small class="form-check-label"><input type="radio" name="communication" value="2">2</small>
                                            <small class="form-check-label"><input type="radio" name="communication" value="3">3</small>
                                            <small class="form-check-label"><input type="radio" name="communication" value="4">4</small>
                                            <small class="form-check-label"><input type="radio" name="communication" value="5">5</small>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <small>Work Ethic</small>
                                        <div class="radio-container">
                                            <small class="form-check-label"><input type="radio" name="workEthic" value="1">1</small>
                                            <small class="form-check-label"><input type="radio" name="workEthic" value="2">2</small>
                                            <small class="form-check-label"><input type="radio" name="workEthic" value="3">3</small>
                                            <small class="form-check-label"><input type="radio" name="workEthic" value="4">4</small>
                                            <small class="form-check-label"><input type="radio" name="workEthic" value="5">5</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3"><small>Overall Score (Out of 100)</small><input name="score" class="form-control" type="number" min="0" max="100"></div>
                                <div class="mb-3">
                                    <small>Comments</small>
                                    <textarea name="comments" class="form-control" placeholder="Please provide detailed feedback on your peer's performance"></textarea>
                                    <small>Your comments should be specific, constructive, and professional.</small>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary d-block w-100" type="" style="color: rgb(0,0,0);background: rgb(255,255,255);">Save as Draft</button>
                                </div>
                                <div><button class="btn btn-primary d-block w-100" type="submit">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}